[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "VINS-Fusion"]
	path = VINS-Fusion
	url = https://github.com/HKUST-Aerial-Robotics/VINS-Fusion.git
